.headerGroup {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.onboardingContainer {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.onboardingForm {
	padding: 1rem 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

h1 {
	margin: 0;
}

label {
	margin: 1rem 0 0.5rem 1rem;
}

label:first-of-type {
	margin-top: 0;
}

input {
	padding: 1rem;
	border: none;
	border-radius: 0.5rem;
}

.terms {
	margin: 1rem 0;
}

.terms label {
	margin-left: 0.5rem;
}
